.habilidades{
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.habilidad{
    width: 150px;
    border: 1px solid white;
    background: linear-gradient(60grad, blue, #814fd1 );
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}
.habilidad p{
    display: none;
    transition: 2s;
}
.habilidad:hover h2{
    transition: 2s;
    transform: scale(1);
    display: none;
}
.habilidad:hover p{
    display: block;
}